check_http fails with IPv6-address without quotes

Since some latest apache-update it complains about "client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23)" when the the IPv6-address passed to check_http is written without braces [...] around it. For IPv4 of course the braces are not possible to use and need to be avoided.
All other checks seem to require the hostname (-H ...) with an IPv6-address without braces, and fail otherwise.

Workaround: Add a separate check_https6 or so in nagios to be used for IPv6-addresses and hardcode the braces for the -H parameter around the address.